@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Oswald:wght@200..700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #333;
}

a {
    text-decoration: none;
}

/* COMPONENTS */
.btn {
    background-color: #007bff;
    padding: 15px 45px;
    color: #fff;
    border-radius: 5px;
}

/* HEADER */
header {
    background-color: #1b27ac;
    min-height: 65px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
}

header a {
    color: #fff;
}

.logo {
    font-size: 35px;
}

nav {
    display: flex;
    gap: 20px;
}

/* footer */

footer{
    background-color: #1b27ac;
    padding: 20px;
}

footer p{
    color: aliceblue;
    text-align: center;
    font-size: 2rem;
    font-family: "Oswald", sans-serif;
    text-transform: uppercase;
}

@media screen  and (max-width: 600px) {
    header{
        background-color: red;
        flex-direction: column;
        padding: 20px;
        gap : 30px;
    }

    nav{
        justify-content: space-between;
        width: 100%;
    }
    
}

/* media query  450px*/

@media screen and (max-width : 450px) {
    header{
        background-color: rgb(36, 0, 128);
    }

    nav{
        flex-direction: column;
        text-align: center;

    }
    
}
