<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PARIS - A propos</title>
    <link rel="stylesheet" href="../asserts/css/style.css">
</head>
<body>
    <header>
        <a href="../index.html" class="logo">paris</a>
        <nav>
            <a href="../index.html">accueil</a>
            <a href="contact.html">contact</a>
            <a href="a-propos.html">à propos</a>
        </nav>
    </header>
    <h1>a props</h1>



    
    <footer>
        <p>PARIS est magnifique !</p>
    </footer>
</body>

</html>